<!DOCTYPE html>
<html lang="{{ app.request.locale|default('ru') }}" dir="{{ direction|default('ltr') }}">
<head>
    {% include 'common/meta.html.twig' %}

    {# CSS и иконки по умолчанию #}
    <link href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/stylesheet.css') }}" rel="stylesheet">

    {% block stylesheets %}
        {# Дополнительные стили, если нужно #}
    {% endblock %}

    {# Favicon #}
    {% include 'common/favicons.html.twig' %}

</head>
<body>

{{ header|raw }}

<main role="main" class="container my-4">
    {% block breadcrumb %}
        {# Хлебные крошки #}
    {% endblock %}

    <div class="row">
        {{ component('modules', { position: 'left' }) }}
        <div id="content" class="col">
            {{ component('modules', { position: 'top' }) }}

            {% block body %}
                {# Содержимое страницы #}
            {% endblock %}

            {{ component('modules', { position: 'bottom' }) }}
        </div>
        {{ component('modules', { position: 'right' }) }}
    </div>
</main>

{{ footer|raw }}

{# JS скрипты по умолчанию #}
<script src="{{ asset('assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>

</body>
</html>


